<!DOCTYPE html>
<html>
  <head>
    <title><TE AMO></title>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <main>
      <h1>ANDRESSA, TE AMO</h1>
    </main>
    <footer>
        <p>Essa foi boa né???></p>
    </footer>
  </body>
</html>